extends plantilla

block content
	h1= articulo.nombre
	h2 Precio especial: #{articulo.precio} euros !!!
	if articulo.stock>0
		h3 Nos quedan #{articulo.stock} en el almacén. ;-)
	else
		h3 Fuera de stock, vuelva otro día. :-(